.rake_test_cache
recipes.tgz
/config/servers.rb

nodes/*.json
nodes/.gitignore
!nodes/sample_host.json
/cookbooks
/certificates
/tmp
.vagrant

.bundle/install.log
.bundle

.kitchen
.kitchen/
.librarian

.rbenv-vars
