# No. I am not stupid. Yes. The passwords are fakes.

server "beta.apphakker.nl", :chef

set :server_attributes, {
  "beta.apphakker.nl" => {
    "active_applications" => {
      "apphakker" => {
        "domain_names" => ["beta.apphakker.nl"],
        "database_info" => {
          "adapter" => "mysql2",
          "host" => "localhost",
          "username" => "apphakker_production",
          "password" => "l2B8X+L/IY3mKHGvgtUBuw==",
          "database" => "apphakker_production"
        },
        "backup_info" => {
          "database" => "MySQL", # See https://github.com/meskyanichi/backup/wiki/Databases
          "compressor" => "Gzip", # See https://github.com/meskyanichi/backup/wiki/Compressors
          "api_key" => "3zq78b5avp4xvtd", # Dropbox Application API key
          "api_secret" => "sdfqpz65pvcvqn3",
          "access_type" => "app_folder",
          "path" => "/",
          "keep" => "25"
        },
        "packages" => ["nodejs", "libpq-dev"],
        "rails_env" => "production"
      }
    },
    "authorization" => {
      "sudo" => {
        "include_sudoers_d" => true,
        "users" => ["locomotive"],
        "passwordless" => true
      }
    },
    "mysql" => {
      "server_debian_password" => "/Z9Hnw1jTOAzwkeZTAp7Gw==",
      "server_root_password" => "LqXiUAz+i7UuRKB+RKnDtA==",
      "server_repl_password" => "pHH39VyeqiDTDyFVCMYiHQ=="
    },
    "rbenv" => {
      "user_installs" => [{
        "upgrade" => true,
        "user" => "deploy",
        "global" => '2.0.0-p0',
        "rubies" => [ '2.0.0-p0' ],
        "gems" => { "2.0.0-p0" => [ {"name" => "bundler" } ] }
      }]
    },
    "ssh_deploy_keys" => [
      "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAzhkBf6REh0MTLJko7y8mxmqF+9Cn1CIUblYas+hOgawwwzUAG4zbikKEZrNd+79oyh1qBNZcwMljN0EKHwKgwGpEhxg7EGpRLtqD8ePGl5dOql1hIjP9Q+gw+eBjbpM1uBeWE5QaV0DEMQCVAOEn2Tr18mqNY/MGY9hSFUARGrXcBHERsbCNmEpnopUBpQO9OcgJDcMuO6kPWvCM5QfcU+88aaZq4ECOvw6NZKVP5Ovv+wNTP6SFAcCf0SZEU0ossCBtoI8V5lh+DK9ivxmvRHXbxZBYMY34HSqYZSrw60qzBBu4+Zi71Hq2N0/GwTLRcayxseWjLstnc6Gs7DahpQ== michiel@Michiel-Sikkess-MacBook-Pro.local"
    ],
    "run_list" => ["role[mysql]", "role[rails]"]
  }
}